html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}

.photo-personne{
  display: block;
  position: relative;
  height: 50px;
  width: 50px;
  background-size: cover;
  background-position: center center;
  border-radius: 100%;
  margin: auto;
}

.custom-file-label::after{
  content: "Parcourir" !important;
}

.photo-input{
  padding: 0 15px 0 15px;
}

.table-bordered td, .table-bordered th {
  border: 0;
}

.table td, .table th {
  border-top: 1px solid #dee2e6;
}

@media only screen and (max-width: 750px) {

  .table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6;
  }
  .table-container{
    width: inherit;
  }

  .table-responsive{
    border: 0;
  }
  .table-responsive table, 
  .table-responsive thead, 
  .table-responsive tbody, 
  .table-responsive tr, 
  .table-responsive th, 
  .table-responsive td {
      display: block;
  }

  .table-responsive thead {
    display: none;
  }
  .table-responsive td {
    padding-left: 120px;
    position: relative;
    margin-top: -1px;
    background: #FFF;
  }
  .table-responsive td:nth-child(odd) {
    background-color: #eee;
  }
  .table-responsive td::before {
    padding: 10px;
    content: attr(data-label);
    position: absolute;
    top: 0;
    left: 0;
    width: 110px;
    bottom: 0;
    background-color:#343a40;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }
  .table-responsive tr {
    margin-bottom: 1rem;
  }
  .table-responsive th + td {
    padding-left: 10px;
  }
}